<div class="full-width profile-header-container">
  <div class="profile-header m-3">
    <div class="user-container">
      <div class="profile-photo-container">
        <img src="../assets/images/avatar.png">
      </div>
      <div class="m-3 name-dep-container">
        <h2><b>{{ this.fullName }}</b></h2>
        <span class="gray-text">{{ this.department }}</span>
        <div class="buttons-container">
          <button mat-icon-button>
            <mat-icon svgIcon="mail"></mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon svgIcon="messages"></mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon svgIcon="logging"></mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="status-school-container m-3">
      <div class="name-value-pair mt-2">
        <span class="gray-text">Bilkent ID Number</span>
        <span>{{ this.userName }}</span>
      </div>
      <div class="name-value-pair mt-2">
        <span class="gray-text">Exchange School</span>
        <span>Kingston University</span>
      </div>
    </div>
  </div>
</div>

<div class="profile-content-container mt-5">
  <div class="profile-content">
    <div class="social-container">
      <h3 class="mt-3">Other Students Going to Kingston University</h3>,
      <mat-divider></mat-divider>
      <div class="social-profile-container">
        <div class="other-student mt-3">
          <img src="../assets/images/avatar.png">
          <div class="name-value-pair ml-5">
            <span>Halil Bağcıoğlu</span>
            <span class="gray-text">EEE</span>
          </div>
        </div>
        <div class="other-student mt-3">
          <img src="../assets/images/avatar.png">
          <div class="name-value-pair ml-5">
            <span>Aziz Ayar</span>
            <span class="gray-text">CS</span>
          </div>
        </div>
        <div class="other-student mt-3">
          <img src="../assets/images/avatar.png">
          <div class="name-value-pair ml-5">
            <span>Gamze Pınar</span>
            <span class="gray-text">IE</span>
          </div>
        </div>
      </div>

    </div>

    <div class="information-card-container">
      <div class="info-card-element ml-3 mr-3 mt-3">
        <h3>Information Card</h3>
        <button mat-icon-button>
          <mat-icon svgIcon="edit"></mat-icon>
        </button>
      </div>
      <div class="info-card-element ml-3 mr-3 mt-5">
        <span class="gray-text">Full Name</span>
        <span>{{ this.fullName }}</span>
      </div>
      <mat-divider></mat-divider>
      <div class="info-card-element ml-3 mr-3 mt-3">
        <span class="gray-text">Bilkent ID Number</span>
        <span>{{ this.userName }}</span>
      </div>
      <mat-divider></mat-divider>
      <div class="info-card-element ml-3 mr-3 mt-3">
        <span class="gray-text">Email</span>
        <span>{{ this.email }}</span>
      </div>
      <mat-divider></mat-divider>
      <div class="info-card-element ml-3 mr-3 mt-3">
        <span class="gray-text">Enterance Year</span>
        <span>2020</span>
      </div>
      <mat-divider></mat-divider>
      <div class="info-card-element ml-3 mr-3 mt-3">
        <span class="gray-text">CGPA</span>
        <span>3.62</span>
      </div>
      <mat-divider></mat-divider>
      <div class="info-card-element ml-3 mr-3 mt-3">
        <span class="gray-text">Preferred Term</span>
        <span>2022-2023 Spring</span>
      </div>
      <mat-divider></mat-divider>
      <div class="info-card-element ml-3 mr-3 mt-3">
        <span class="gray-text">Exchange School Preferences</span>
        <span>EPFL, Kingston University, TU Berlin</span>
      </div>
      <mat-divider></mat-divider>
      <div class="info-card-element ml-3 mr-3 mt-3">
        <span class="gray-text">Placed Exchange School</span>
        <span>Kingston University</span>
      </div>
    </div>
  </div>
</div>

