<div class="full-width profile-header-container">
  <div class="profile-header m-3">
    <div class="profile-photo-container">
      <img src="../assets/images/avatar.png" alt="">
    </div>
    <div class="m-3 name-dep-container">
      <h2>Berk Çakar</h2>
      <span>Computer Engineering</span>
      <div class="buttons-container">
        <button mat-icon-button>
          <mat-icon svgIcon="mail"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon svgIcon="messages"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon svgIcon="logging"></mat-icon>
        </button>
      </div>
    </div>
    <div class="email-id-container m-3">
      <div class="name-value-pair">
        <span>Email</span>
        <span>berk.cakar@ug.bilkent.edu.tr</span>
      </div>
      <div class="name-value-pair mt-2">
        <span>Bilkent ID Number</span>
        <span>22003021</span>
      </div>
    </div>
    <div class="status-school-container m-3">
      <div class="name-value-pair">
        <span>Application Status</span>
        <span>Pre-Approval Form Approved</span>
      </div>
      <div class="name-value-pair mt-2">
        <span>Exchange School</span>
        <span>Kingston University</span>
      </div>
    </div>
  </div>
  <button mat-icon-button>
    <mat-icon svgIcon="edit"></mat-icon>
  </button>
</div>

<div class="profile-content-container mt-5">
  <div class="profile-content">
    <div class="social-container">
      <h3 class="mt-3">Other Students Going to Kingston University</h3>,
      <mat-divider></mat-divider>
      <div class="other-student mt-3">
        <img src="../assets/images/avatar.png" alt="">
        <div class="name-value-pair ml-5">
          <span>Halil Bağcıoğlu</span>
          <span>EEE</span>
        </div>
      </div>
      <div class="other-student mt-3">
        <img src="../assets/images/avatar.png" alt="">
        <div class="name-value-pair ml-5">
          <span>Halil Bağcıoğlu</span>
          <span>EEE</span>
        </div>
      </div>
      <div class="other-student mt-3">
        <img src="../assets/images/avatar.png" alt="">
        <div class="name-value-pair ml-5">
          <span>Halil Bağcıoğlu</span>
          <span>EEE</span>
        </div>
      </div>
    </div>
    <div class="information-card-container">
      <h3 class="mt-3 ml-3">Information Card</h3>
      <div class="info-card-element ml-3 mr-3 mt-3">
        <span>Name Surname</span>
        <span>Berk Çakar</span>
      </div>
      <mat-divider></mat-divider>
      <div class="info-card-element ml-3 mr-3 mt-3">
        <span>Bilkent ID Number</span>
        <span>22003021</span>
      </div>
      <mat-divider></mat-divider>
      <div class="info-card-element ml-3 mr-3 mt-3">
        <span>Email</span>
        <span>berk.cakar@ug.bilkent.edu.tr</span>
      </div>
      <mat-divider></mat-divider>
      <div class="info-card-element ml-3 mr-3 mt-3">
        <span>Enterance Year</span>
        <span>2020</span>
      </div>
      <mat-divider></mat-divider>
      <div class="info-card-element ml-3 mr-3 mt-3">
        <span>CGPA</span>
        <span>3.62</span>
      </div>
      <mat-divider></mat-divider>
      <div class="info-card-element ml-3 mr-3 mt-3">
        <span>Preferred Term</span>
        <span>2022-2023 Spring</span>
      </div>
      <mat-divider></mat-divider>
      <div class="info-card-element ml-3 mr-3 mt-3">
        <span>Exchange School Preferences</span>
        <span>EPFL, Kingston University, TU Berlin</span>
      </div>
      <mat-divider></mat-divider>
      <div class="info-card-element ml-3 mr-3 mt-3">
        <span>Placed Exchange School</span>
        <span>Kingston University</span>
      </div>
      <mat-divider></mat-divider>
      <div class="info-card-element ml-3 mr-3 mt-3">
        <span>Extra Language Proficiency</span>
        <span>German-B1</span>
      </div>
    </div>
  </div>
</div>

