.forgot-password-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15vh auto auto;
  width: 100%;

}

#icon-container {
  font-size: 6rem !important;
}

.loginContent{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-form-field{
  font-size: 1.2rem;
}

.full-width{
  width: 100%;
}

.full-height{
  height: 100%;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fp-header{
  text-align: center;
  font-size: 2.2rem;
}

.flex-space-between{
  display: flex;
  justify-content: space-between;
}

form{
  width: 100%;
  margin: 0 20%;
  height: 100%;
}

.link{
  text-decoration: underline;
  color: #007bff;
  cursor: pointer;
}
