<div class="forgot-password-container">
  <div style="width: 45%; height: 60%; min-width: 700px">
    <mat-card style="height: 100%">
      <mat-card-content class="full-width flex-center full-height">
        <form>
          <div class="flex-center"><img src="../assets/images/lock.png" alt=""></div>
          <h1 class="fp-header mt-5">Recover your password</h1>
          <mat-form-field class="full-width mt-4">
            <input matInput placeholder="Email">
          </mat-form-field>
          <button mat-raised-button color="primary" class="full-width mt-4">
            Recover Password
          </button>
          <div class="flex-center mt-2 mb-4">
            <span class="mt-4">Go back to <a class="link" (click)="goLogin()">Login</a></span>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

