.signupContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15vh auto auto;
  width: 100%;

}

.loginContent{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-form-field{
  font-size: 1.2rem;
}

.full-width{
  width: 100%;
}

.full-height{
  height: 100%;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-header{
  text-align: center;
  font-size: 3rem;
}

.flex-space-between{
  display: flex;
  justify-content: space-between;
}


form{
  width: 100%;
  margin: 0 20%;
  height: 100%;
}

.link{
  text-decoration: underline;
  color: #007bff;
  cursor: pointer;
}

.flex-row {
  flex-direction: row;
}


.zoom-out {
  -moz-transform: scale(0.8, 0.8); /* Moz-browsers */
  zoom: 0.8; /* Other non-webkit browsers */
  zoom: 80%; /* Webkit browsers */
}
