<div class="d-flex flex-column h-50 justify-content-center align-items-center">
  <div style="width: 60%; height: 60%">
    <mat-card>
      <mat-card-content class="full-width flex-center full-height">
        <form [formGroup]="requiredForm">
          <h1 class="login-header">Create Account</h1>
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Bilkent ID Number"
              class="form-control"
              formControlName="userName" />
            <mat-error
              *ngIf="
                requiredForm.controls['userName'].invalid &&
                requiredForm.controls['userName'].touched
              ">
              Bilkent ID Number is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Email"
              class="form-control"
              formControlName="email" />
            <mat-error
              *ngIf="
                requiredForm.controls['email'].invalid &&
                requiredForm.controls['email'].touched
              ">
              A valid Bilkent University email address is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div class="flex-center flex-row">
            <mat-form-field class="full-width">
              <input
                matInput
                [type]="hidePassword ? 'password' : 'text'"
                placeholder="Password"
                class="form-control"
                formControlName="password" />
              <mat-error
                *ngIf="
                  requiredForm.controls['password'].invalid &&
                  requiredForm.controls['password'].touched
                ">
                Password is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="hidePassword = !hidePassword"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword">
              <mat-icon>{{
                hidePassword ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </div>
          <div class="flex-center flex-row">
            <mat-form-field class="full-width">
              <input
                matInput
                [type]="hidePasswordConfirm ? 'password' : 'text'"
                placeholder="Confirm Password"
                class="form-control"
                formControlName="confirmPassword" />
              <mat-error
                *ngIf="
                  requiredForm.controls['confirmPassword'].invalid &&
                  requiredForm.controls['confirmPassword'].touched
                ">
                Passwords
                <strong>do not match</strong>
              </mat-error>
            </mat-form-field>
            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="hidePasswordConfirm = !hidePasswordConfirm"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePasswordConfirm">
              <mat-icon>{{
                hidePasswordConfirm ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </div>
          <button
            (click)="signUp()"
            mat-raised-button
            color="primary"
            class="full-width mt-3">
            Create Account
          </button>
          <div class="flex-center">
            <span class="mt-3"
              >Already have an account?<a class="link" (click)="goLogin()">
                Login</a
              ></span
            >
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
