<div class="logging-container mr-3 ml-3">
  <div class="logging-header mt-3">
    <div style="width: 80%">
      <span class="logging-title" *ngIf="currentUserRole !== 'Student'">Logging</span>
      <span class="logging-title" *ngIf="currentUserRole === 'Student'">Course Logs</span>
    </div>
  </div>
  <div class="logging-content mt-4">
    <div style="width: 80%">
      <mat-tab-group #tabGroup (selectedIndexChange)="_setDataSource($event)">
        <mat-tab label="All Forms & Requests" *ngIf="currentUserRole === 'Exchange Coordinator'">
          <div class="mt-2 table-container">
            <div class="table-header">
              <mat-form-field>
                <mat-icon matPrefix class="mr-3">search</mat-icon>
                <input
                  type="search"
                  matInput
                  (keyup)="applyFilter($event.target.value)"
                  placeholder="Search" />
              </mat-form-field>
            </div>
            <div class="table-content mat-elevation-z8">
              <table
                #AllFormsTable
                mat-table
                [dataSource]="dataSource"
                matSort
                #sorter1="matSort">
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.id }}
                  </td>
                </ng-container>

                <!-- Student Column -->
                <ng-container matColumnDef="student">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Student
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.student }}
                  </td>
                </ng-container>

                <!-- Date Column -->
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Date
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.date }}
                  </td>
                </ng-container>

                <!-- Type Column -->
                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Type
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.type }}
                  </td>
                </ng-container>

                <!-- School Column -->
                <ng-container matColumnDef="school">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    School
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.school }}
                  </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Status
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <div *ngIf="row.status === 'Cancelled'"
                         class="status-text" style="background-color: #621324; color: white">
                      {{ row.status }}
                    </div>
                    <div *ngIf="row.status !== 'Cancelled'"
                         class="status-text"
                         [ngStyle]="{
                    'background-color':
                      row.status == 'Approved' ? '#49C96D' : '#FD7972'
                  }">
                      {{ row.status }}
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                  [class.active]="activatedRow === row"
                  (click)="openDialog(row)"
                  [ngClass]="{
                    hovered: row.hovered,
                    highlighted: selection.isSelected(row)
                  }"
                  (mouseover)="row.hovered = true"
                  (mouseout)="row.hovered = false"></tr>
              </table>

              <mat-paginator
                #paginator
                [pageSizeOptions]="[7]"
                [pageSize]="7"
                [showFirstLastButtons]="true"
                [hidePageSize]="true"></mat-paginator>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Pre-Approval Forms" *ngIf="currentUserRole === 'Exchange Coordinator'">
          <div class="mt-2 table-container">
            <div class="table-header">
              <mat-form-field>
                <mat-icon matPrefix class="mr-3">search</mat-icon>
                <input
                  type="search"
                  matInput
                  (keyup)="applyFilter($event.target.value)"
                  placeholder="Search" />
              </mat-form-field>
            </div>
            <div class="table-content mat-elevation-z8">
              <table
                mat-table
                #PreApprovalTable
                [dataSource]="preapprovalDataSource"
                matSort
                #sorter2="matSort">
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.id }}
                  </td>
                </ng-container>

                <!-- Student Column -->
                <ng-container matColumnDef="student">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Student
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.student }}
                  </td>
                </ng-container>

                <!-- Date Column -->
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Date
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.date }}
                  </td>
                </ng-container>

                <!-- School Column -->
                <ng-container matColumnDef="school">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    School
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.school }}
                  </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Status
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <div *ngIf="row.status === 'Cancelled'"
                         class="status-text" style="background-color: #621324; color: white">
                      {{ row.status }}
                    </div>
                    <div *ngIf="row.status !== 'Cancelled'"
                         class="status-text"
                         [ngStyle]="{
                    'background-color':
                      row.status == 'Approved' ? '#49C96D' : '#FD7972'
                  }">
                      {{ row.status }}
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns2"
                  [ngClass]="{ hovered: row.hovered }"
                  [class.active]="activatedRow === row"
                  (click)="openDialog(row)"
                  (mouseover)="row.hovered = true"
                  (mouseout)="row.hovered = false"></tr>
              </table>

              <mat-paginator
                #paginator2
                [pageSizeOptions]="[7]"
                [pageSize]="7"
                [showFirstLastButtons]="true"
                [hidePageSize]="true"></mat-paginator>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="CTE Forms" *ngIf="!(currentUserRole === 'Course Coordinator Instructor' || currentUserRole === 'Student')">
          <div class="mt-2 table-container">
            <div class="table-header">
              <mat-form-field>
                <mat-icon matPrefix class="mr-3">search</mat-icon>
                <input
                  type="search"
                  matInput
                  (keyup)="applyFilter($event.target.value)"
                  placeholder="Search" />
              </mat-form-field>
            </div>
            <div class="table-content mat-elevation-z8">
              <table
                mat-table
                [dataSource]="cteDataSource"
                matSort
                #CTETable
                #sorter3="matSort">
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.id }}
                  </td>
                </ng-container>

                <!-- Student Column -->
                <ng-container matColumnDef="student">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Student
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.student }}
                  </td>
                </ng-container>

                <!-- Date Column -->
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Date
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.date }}
                  </td>
                </ng-container>

                <!-- School Column -->
                <ng-container matColumnDef="school">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    School
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.school }}
                  </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Status
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <div *ngIf="row.status === 'Cancelled'"
                         class="status-text" style="background-color: #621324; color: white">
                      {{ row.status }}
                    </div>
                    <div *ngIf="row.status !== 'Cancelled'"
                         class="status-text"
                         [ngStyle]="{
                    'background-color':
                      row.status == 'Approved' ? '#49C96D' : '#FD7972'
                  }">
                      {{ row.status }}
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns2"
                  [class.active]="activatedRow === row"
                  (click)="openDialog(row)"
                  [ngClass]="{ hovered: row.hovered }"
                  (mouseover)="row.hovered = true"
                  (mouseout)="row.hovered = false"></tr>
              </table>

              <mat-paginator
                #paginator3
                [pageSizeOptions]="[7]"
                [pageSize]="7"
                [showFirstLastButtons]="true"
                [hidePageSize]="true"></mat-paginator>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Course Equivalence Requests" *ngIf="!(currentUserRole === 'Dean Department Chair' || currentUserRole === 'Student')">
          <div class="mt-2 table-container">
            <div class="table-header">
              <mat-form-field>
                <mat-icon matPrefix class="mr-3">search</mat-icon>
                <input
                  type="search"
                  matInput
                  (keyup)="applyFilter($event.target.value)"
                  placeholder="Search" />
              </mat-form-field>
            </div>
            <div class="table-content mat-elevation-z8">
              <table
                #CourseEqTable
                mat-table
                [dataSource]="courseEquivalenceDataSource"
                matSort
                #sorter4="matSort">
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.id }}
                  </td>
                </ng-container>

                <!-- Student Column -->
                <ng-container matColumnDef="student">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Student
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.student }}
                  </td>
                </ng-container>

                <!-- Date Column -->
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Date
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.date }}
                  </td>
                </ng-container>

                <!-- School Column -->
                <ng-container matColumnDef="school">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    School
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.school }}
                  </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Status
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <div *ngIf="row.status === 'Cancelled'"
                         class="status-text" style="background-color: #621324; color: white">
                      {{ row.status }}
                    </div>
                    <div *ngIf="row.status !== 'Cancelled'"
                         class="status-text"
                         [ngStyle]="{
                    'background-color':
                      row.status == 'Approved' ? '#49C96D' : '#FD7972'
                  }">
                      {{ row.status }}
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns2"
                  [class.active]="activatedRow === row"
                  (click)="openDialog(row)"
                  [ngClass]="{ hovered: row.hovered }"
                  (mouseover)="row.hovered = true"
                  (mouseout)="row.hovered = false"></tr>
              </table>

              <mat-paginator
                #paginator4
                [pageSizeOptions]="[7]"
                [pageSize]="7"
                [showFirstLastButtons]="true"
                [hidePageSize]="true"></mat-paginator>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Equivalent Courses">
          <div class="mt-2 table-container">
            <div class="table-header">
              <mat-form-field style="flex-grow: 1; text-align: center" class="ml-2" *ngIf="currentUserRole !== 'Student'">
                <mat-select [(ngModel)]="selectedSchool" placeholder="Select a host school" (selectionChange)="onSchoolSelect()">
                  <mat-option *ngFor="let school of schools" [value]="school">
                    {{ school }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-icon matPrefix class="mr-3">search</mat-icon>
                <input
                  type="search"
                  matInput
                  (keyup)="applyFilter($event.target.value)"
                  placeholder="Search" />
              </mat-form-field>
            </div>
            <div class="table-content mat-elevation-z8">
              <table
                #LoggedCoursesTable
                mat-table
                [dataSource]="loggedCoursesDataSource"
                matSort
                #sorter5="matSort">
                <!-- ID Column -->
                <ng-container matColumnDef="LogTime">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Log Time</th>
                  <td mat-cell *matCellDef="let row">
                    {{ formatTheDate(row.logTime) }}
                  </td>
                </ng-container>

                <!-- ID Column -->
                <ng-container matColumnDef="HCode">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>H. Code</th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.hostCourseCode }}
                  </td>
                </ng-container>

                <!-- Student Column -->
                <ng-container matColumnDef="HName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    H. Name
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.hostCourseName }}
                  </td>
                </ng-container>

                <!-- Date Column -->
                <ng-container matColumnDef="HECTS">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    H. ECTS
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.hostCourseEcts }}
                  </td>
                </ng-container>

                <!-- School Column -->
                <ng-container matColumnDef="CourseType">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Course Type
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.exemptedCourse.courseType }}
                  </td>
                </ng-container>

                <!-- School Column -->
                <ng-container matColumnDef="BCode">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    B. Code
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.exemptedCourse.courseCode }}
                  </td>
                </ng-container>

                <!-- School Column -->
                <ng-container matColumnDef="BName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    B. Name
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.exemptedCourse.courseName }}
                  </td>
                </ng-container>

                <!-- School Column -->
                <ng-container matColumnDef="BCredit">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    B. Code
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <div style="display: flex;align-items: center; justify-content: space-between">
                      {{ row.exemptedCourse.bilkentCredits }}
                      <button mat-icon-button *ngIf="currentUserRole !== 'Student'" (click)="onCancel(row)"><mat-icon>close</mat-icon></button>
                      <div style="width: 4  0px" *ngIf="currentUserRole === 'Student'"></div>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="loggedCoursesColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: loggedCoursesColumns"
                  [class.active]="activatedRow === row"
                  (click)="openDialog(row)"
                  [ngClass]="{ hovered: row.hovered }"
                  (mouseover)="row.hovered = true"
                  (mouseout)="row.hovered = false"></tr>
              </table>

              <mat-paginator
                #paginator5
                [pageSizeOptions]="[7]"
                [pageSize]="7"
                [showFirstLastButtons]="true"
                [hidePageSize]="true"></mat-paginator>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
