.user-container {
  height: 60vh;
  width: 700px;
  display: flex;
  flex-direction: column;
}

.user-header {
  display: flex;
  justify-content: center;
}

.user-header span {
  font-size: 2rem;
  font-weight: bold;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-type {
  display: flex;
  align-items: center;
}

.form-footer {
  bottom: 0;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
