<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="studentname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Student Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="preferences">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Preferences </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.preferences}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="score">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Score </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.score}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
