<div class="fnr-container mr-3 ml-3" *ngIf="currentUserRole !== 'Student'">
  <div class="fnr-header mt-3">
    <div style="width: 80%">
      <span class="fnr-title">Forms and Requests</span>
    </div>
  </div>
  <div class="fnr-content mt-4">
    <div style="width: 80%">
      <button
        mat-raised-button
        color="primary"
        class="mb-3 mt-3"
        (click)="openCreateCTEFormDialog()">
        Create CTE Form
      </button>
      <mat-tab-group #tabGroup (selectedIndexChange)="_setDataSource($event)">
        <mat-tab label="All">
          <div class="mt-2 table-container">
            <div class="table-header">
              <mat-form-field>
                <mat-icon matPrefix class="mr-3">search</mat-icon>
                <input
                  type="search"
                  matInput
                  (keyup)="applyFilter($event.target.value)"
                  placeholder="Search" />
              </mat-form-field>
            </div>
            <div class="table-content mat-elevation-z8">
              <table
                mat-table
                #AllFormsTable
                [dataSource]="dataSource"
                matSort
                #sorter1="matSort">
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.id }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="student">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Student
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.student }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Date
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.date }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Type
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.type }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="school">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    School
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.school }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Status
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <div
                      class="status-text"
                      [ngStyle]="{
                        'background-color':
                          row.status === 'Approved'
                            ? '#49C96D'
                            : row.status === 'Processing'
                            ? '#FF965D'
                            : '#FD7972'
                      }">
                      {{ row.status }}
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                  [class.active]="activatedRow === row"
                  (click)="openDialog(row)"
                  [ngClass]="{
                    hovered: row.hovered,
                    highlighted: selection.isSelected(row)
                  }"
                  (mouseover)="row.hovered = true"
                  (mouseout)="row.hovered = false"></tr>
              </table>

              <mat-paginator
                #paginator
                [pageSizeOptions]="[7]"
                [pageSize]="7"
                [showFirstLastButtons]="true"
                [hidePageSize]="true"></mat-paginator>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Pre-Approval Forms">
          <div class="mt-2 table-container">
            <div class="table-header">
              <mat-form-field>
                <mat-icon matPrefix class="mr-3">search</mat-icon>
                <input
                  type="search"
                  matInput
                  (keyup)="applyFilter($event.target.value)"
                  placeholder="Search" />
              </mat-form-field>
            </div>
            <div class="table-content mat-elevation-z8">
              <table
                mat-table
                [dataSource]="preapprovalDataSource"
                matSort
                #sorter2="matSort">
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.id }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="student">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Student
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.student }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Date
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.date }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="school">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    School
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.school }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Status
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <div
                      class="status-text"
                      [ngStyle]="{
                        'background-color':
                          row.status === 'Approved'
                            ? '#49C96D'
                            : row.status === 'Processing'
                            ? '#FF965D'
                            : '#FD7972'
                      }">
                      {{ row.status }}
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns2"
                  [ngClass]="{ hovered: row.hovered }"
                  [class.active]="activatedRow === row"
                  (click)="openDialog(row)"
                  (mouseover)="row.hovered = true"
                  (mouseout)="row.hovered = false"></tr>
              </table>

              <mat-paginator
                #paginator2
                [pageSizeOptions]="[10]"
                [pageSize]="10"
                [showFirstLastButtons]="true"
                [hidePageSize]="true"></mat-paginator>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="CTE Forms">
          <div class="mt-2 table-container">
            <div class="table-header">
              <mat-form-field>
                <mat-icon matPrefix class="mr-3">search</mat-icon>
                <input
                  type="search"
                  matInput
                  (keyup)="applyFilter($event.target.value)"
                  placeholder="Search" />
              </mat-form-field>
            </div>
            <div class="table-content mat-elevation-z8">
              <table
                mat-table
                [dataSource]="cteDataSource"
                matSort
                #sorter3="matSort">
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.id }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="student">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Student
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.student }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Date
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.date }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="school">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    School
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.school }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Status
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <div
                      class="status-text"
                      [ngStyle]="{
                        'background-color':
                          row.status === 'Approved'
                            ? '#49C96D'
                            : row.status === 'Processing'
                            ? '#FF965D'
                            : '#FD7972'
                      }">
                      {{ row.status }}
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns2"
                  [class.active]="activatedRow === row"
                  (click)="openDialog(row)"
                  [ngClass]="{ hovered: row.hovered }"
                  (mouseover)="row.hovered = true"
                  (mouseout)="row.hovered = false"></tr>
              </table>

              <mat-paginator
                #paginator3
                [pageSizeOptions]="[10]"
                [pageSize]="10"
                [showFirstLastButtons]="true"
                [hidePageSize]="true"></mat-paginator>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Course Equivalence Request">
          <div class="mt-2 table-container">
            <div class="table-header">
              <mat-form-field>
                <mat-icon matPrefix class="mr-3">search</mat-icon>
                <input
                  type="search"
                  matInput
                  (keyup)="applyFilter($event.target.value)"
                  placeholder="Search" />
              </mat-form-field>
            </div>
            <div class="table-content mat-elevation-z8">
              <table
                mat-table
                [dataSource]="courseEquivalenceDataSource"
                matSort
                #sorter4="matSort">
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.id }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="student">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Student
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.student }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Date
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.date }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="school">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    School
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.school }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Status
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <div
                      class="status-text"
                      [ngStyle]="{
                        'background-color':
                          row.status === 'Approved'
                            ? '#49C96D'
                            : row.status === 'Processing'
                            ? '#FF965D'
                            : '#FD7972'
                      }">
                      {{ row.status }}
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns2"
                  [class.active]="activatedRow === row"
                  (click)="openDialog(row)"
                  [ngClass]="{ hovered: row.hovered }"
                  (mouseover)="row.hovered = true"
                  (mouseout)="row.hovered = false"
                  class="table-row"></tr>
              </table>

              <mat-paginator
                #paginator4
                [pageSizeOptions]="[10]"
                [pageSize]="10"
                [showFirstLastButtons]="true"
                [hidePageSize]="true"></mat-paginator>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<div class="fnr-container mr-3 ml-3" *ngIf="currentUserRole === 'Student'">
  <div class="fnr-header mt-3">
    <div style="width: 80%">
      <span class="fnr-title">Forms and Requests</span>
    </div>
  </div>
  <div class="fnr-content mt-4">
    <div style="width: 80%">
      <div class="mt-2 table-container">
        <div class="student-form-buttons mt-3 mb-3">
          <button
            mat-raised-button
            color="primary"
            class="mr-3"
            (click)="openCreatePreapprovalFormDialog()">
            Create PreApproval Form
          </button>
          <button
            mat-raised-button
            color="accent"
            (click)="openCreateEquivalanceRequestDialog()">
            Create Course Equivalence Request
          </button>
        </div>
        <div class="mt-5 mb-3">
          <span class="mt-3 old-submissions">My Submissions</span>
        </div>
        <div class="table-content mat-elevation-z8">
          <table
            mat-table
            [dataSource]="studentDataSource"
            #StudentTable
            matSort
            #sorterS="matSort">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
              <td mat-cell *matCellDef="let row">
                {{ row.id }}
              </td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
              <td mat-cell *matCellDef="let row">
                {{ row.date }}
              </td>
            </ng-container>

            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
              <td mat-cell *matCellDef="let row">
                {{ row.type }}
              </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
              <td mat-cell *matCellDef="let row">
                <div
                  class="status-text"
                  [ngStyle]="{
                    'background-color':
                      row.status === 'Approved'
                        ? '#49C96D'
                        : row.status === 'Processing'
                        ? '#FF965D'
                        : '#FD7972'
                  }">
                  {{ row.status }}
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>

            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns3"
              [class.active]="activatedRow === row"
              [ngClass]="{
                hovered: row.hovered,
                highlighted: selection.isSelected(row)
              }"
              (click)="openDialog(row)"
              (mouseover)="row.hovered = true"
              (mouseout)="row.hovered = false"></tr>
          </table>

          <mat-paginator
            #paginatorS
            [pageSizeOptions]="[7]"
            [pageSize]="7"
            [showFirstLastButtons]="true"
            [hidePageSize]="true"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
