<div class="user-container">
  <div class="user-header">
    <span>User Details</span>
  </div>
  <div class="user-content">
    <div class="user-type">
      <span class="mr-3">User Type:</span>
      <mat-form-field style="flex-grow: 1; text-align: center" class="ml-2">
        <mat-select [(ngModel)]="data.userType">
          <mat-option *ngFor="let type of userTypes" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="user-type-content">
      <div class="student-details" *ngIf="data.userType === 'Student'">
        <div class="flex-column">
          <div class="flex">
            <mat-form-field
              style="flex-grow: 1"
              class="mr-3 ml-3"
              appearance="outline">
              <mat-label>First Name</mat-label>
              <input type="search" matInput [(ngModel)]="data.user.firstName" />
            </mat-form-field>
            <mat-form-field
              style="flex-grow: 1"
              class="mr-3 ml-3"
              appearance="outline">
              <mat-label>Last Name</mat-label>
              <input type="search" matInput [(ngModel)]="data.user.lastName" />
            </mat-form-field>
          </div>
          <div class="flex">
            <mat-form-field
              style="flex-grow: 1"
              class="mr-3 ml-3"
              appearance="outline"
              [(ngModel)]="data.user.identityUser.email">
              <mat-label>Email</mat-label>
              <input type="search" matInput />
            </mat-form-field>
            <mat-form-field
              style="flex-grow: 1"
              class="mr-3 ml-3"
              appearance="outline">
              <mat-label>Bilkent ID</mat-label>
              <input
                type="search"
                matInput
                [(ngModel)]="data.user.identityUser.userName" />
            </mat-form-field>
          </div>
          <div class="flex">
            <mat-form-field
              style="flex-grow: 1"
              class="mr-3 ml-3"
              appearance="outline">
              <mat-label>Enterance Year</mat-label>
              <input type="search" matInput [(ngModel)]="data.entranceYear" />
            </mat-form-field>
            <mat-form-field
              style="flex-grow: 1"
              class="mr-3 ml-3"
              appearance="outline">
              <mat-label>CGPA</mat-label>
              <input type="number" matInput [(ngModel)]="data.cgpa" />
            </mat-form-field>
          </div>
          <div class="flex">
            <mat-form-field
              style="width: 400px; flex-grow: 1"
              class="mr-3 ml-3"
              appearance="outline">
              <mat-select
                placeholder="Choose Faculty"
                [(ngModel)]="data.department.facultyName">
                <mat-option *ngFor="let fac of faculties" [value]="fac">
                  {{ fac }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field
              style="width: 400px; flex-grow: 1"
              class="mr-3 ml-3"
              appearance="outline">
              <mat-select
                style="white-space: normal"
                placeholder="Choose Department"
                [(ngModel)]="data.department.departmentName">
                <mat-option *ngFor="let dep of departments" [value]="dep">
                  {{ dep }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div
        class="dean-details"
        *ngIf="data.userType === 'Dean Department Chair'">
        <div class="flex">
          <mat-form-field
            style="flex-grow: 1"
            class="mr-3 ml-3"
            appearance="outline">
            <mat-label>First Name</mat-label>
            <input type="search" matInput [(ngModel)]="data.user.firstName" />
          </mat-form-field>
          <mat-form-field
            style="flex-grow: 1"
            class="mr-3 ml-3"
            appearance="outline">
            <mat-label>Last Name</mat-label>
            <input type="search" matInput [(ngModel)]="data.user.lastName" />
          </mat-form-field>
        </div>
        <div class="flex">
          <mat-form-field
            style="flex-grow: 1"
            class="mr-3 ml-3"
            appearance="outline"
            [(ngModel)]="data.user.identityUser.email">
            <mat-label>Email</mat-label>
            <input type="search" matInput />
          </mat-form-field>
          <mat-form-field
            style="flex-grow: 1"
            class="mr-3 ml-3"
            appearance="outline">
            <mat-label>Bilkent ID</mat-label>
            <input
              type="search"
              matInput
              [(ngModel)]="data.user.identityUser.userName" />
          </mat-form-field>
        </div>
        <div class="flex">
          <mat-form-field
            style="width: 400px; flex-grow: 1"
            class="mr-3 ml-3"
            appearance="outline">
            <mat-select
              placeholder="Choose Faculty"
              [(ngModel)]="data.department.facultyName">
              <mat-option *ngFor="let fac of faculties" [value]="fac">
                {{ fac }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field
            style="width: 400px; flex-grow: 1"
            class="mr-3 ml-3"
            appearance="outline">
            <mat-select
              placeholder="Choose Department"
              [(ngModel)]="data.department.departmentName">
              <mat-option *ngFor="let dep of departments" [value]="dep">
                {{ dep }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div
        class="coordinator-details"
        *ngIf="data.userType === 'Exchange Coordinator'">
        <div class="flex">
          <mat-form-field
            style="flex-grow: 1"
            class="mr-3 ml-3"
            appearance="outline">
            <mat-label>First Name</mat-label>
            <input type="search" matInput [(ngModel)]="data.user.firstName" />
          </mat-form-field>
          <mat-form-field
            style="flex-grow: 1"
            class="mr-3 ml-3"
            appearance="outline">
            <mat-label>Last Name</mat-label>
            <input type="search" matInput [(ngModel)]="data.user.lastName" />
          </mat-form-field>
        </div>
        <div class="flex">
          <mat-form-field
            style="flex-grow: 1"
            class="mr-3 ml-3"
            appearance="outline"
            [(ngModel)]="data.user.identityUser.email">
            <mat-label>Email</mat-label>
            <input type="search" matInput />
          </mat-form-field>
          <mat-form-field
            style="flex-grow: 1"
            class="mr-3 ml-3"
            appearance="outline">
            <mat-label>Bilkent ID</mat-label>
            <input
              type="search"
              matInput
              [(ngModel)]="data.user.identityUser.userName" />
          </mat-form-field>
        </div>
        <div class="flex">
          <mat-form-field
            style="width: 400px; flex-grow: 1"
            class="mr-3 ml-3"
            appearance="outline">
            <mat-select
              placeholder="Choose Faculty"
              [(ngModel)]="data.department.facultyName">
              <mat-option *ngFor="let fac of faculties" [value]="fac">
                {{ fac }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field
            style="width: 400px; flex-grow: 1"
            class="mr-3 ml-3"
            appearance="outline">
            <mat-select
              placeholder="Choose Department"
              [(ngModel)]="data.department.departmentName">
              <mat-option *ngFor="let dep of departments" [value]="dep">
                {{ dep }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div
        class="oisep-details"
        *ngIf="
          data.userType ===
          'Office of International Students and Exchange Programs'
        ">
        <div class="flex">
          <mat-form-field
            style="flex-grow: 1"
            class="mr-3 ml-3"
            appearance="outline">
            <mat-label>First Name</mat-label>
            <input type="search" matInput [(ngModel)]="data.user.firstName" />
          </mat-form-field>
          <mat-form-field
            style="flex-grow: 1"
            class="mr-3 ml-3"
            appearance="outline">
            <mat-label>Last Name</mat-label>
            <input type="search" matInput [(ngModel)]="data.user.lastName" />
          </mat-form-field>
        </div>
        <div class="flex">
          <mat-form-field
            style="flex-grow: 1"
            class="mr-3 ml-3"
            appearance="outline"
            [(ngModel)]="data.user.identityUser.email">
            <mat-label>Email</mat-label>
            <input type="search" matInput />
          </mat-form-field>
          <mat-form-field
            style="flex-grow: 1"
            class="mr-3 ml-3"
            appearance="outline">
            <mat-label>Bilkent ID</mat-label>
            <input
              type="search"
              matInput
              [(ngModel)]="data.user.identityUser.userName" />
          </mat-form-field>
        </div>
      </div>
      <div
        class="instructor-details"
        *ngIf="data.userType === 'Course Coordinator Instructor'">
        <div class="flex">
          <mat-form-field
            style="flex-grow: 1"
            class="mr-3 ml-3"
            appearance="outline">
            <mat-label>First Name</mat-label>
            <input type="search" matInput [(ngModel)]="data.user.firstName" />
          </mat-form-field>
          <mat-form-field
            style="flex-grow: 1"
            class="mr-3 ml-3"
            appearance="outline">
            <mat-label>Last Name</mat-label>
            <input type="search" matInput [(ngModel)]="data.user.lastName" />
          </mat-form-field>
        </div>
        <div class="flex">
          <mat-form-field
            style="flex-grow: 1"
            class="mr-3 ml-3"
            appearance="outline"
            [(ngModel)]="data.user.identityUser.email">
            <mat-label>Email</mat-label>
            <input type="search" matInput />
          </mat-form-field>
          <mat-form-field
            style="flex-grow: 1"
            class="mr-3 ml-3"
            appearance="outline">
            <mat-label>Bilkent ID</mat-label>
            <input
              type="search"
              matInput
              [(ngModel)]="data.user.identityUser.userName" />
          </mat-form-field>
        </div>
        <div class="flex">
          <mat-form-field
            style="width: 400px; flex-grow: 1"
            class="mr-3 ml-3"
            appearance="outline">
            <mat-select
              placeholder="Choose Faculty"
              [(ngModel)]="data.department.facultyName">
              <mat-option *ngFor="let fac of faculties" [value]="fac">
                {{ fac }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field
            style="width: 400px; flex-grow: 1"
            class="mr-3 ml-3"
            appearance="outline">
            <mat-select
              placeholder="Choose Department"
              [(ngModel)]="data.department.departmentName">
              <mat-option *ngFor="let dep of departments" [value]="dep">
                {{ dep }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

  </div>
  <div style="flex-grow: 1;"></div>
  <div class="form-footer mt-4">
    <button mat-raised-button color="primary" (click)="dialogRef.close(null)">Cancel</button>
    <button mat-raised-button color="primary" class="ml-5" (click)="onSave()">Save</button>
  </div>
</div>
