<div class="view-container">
  <div style="display: flex; justify-content: space-between">
    <div style="flex-grow: 1">
      <span class="view-title mr-3">Pre-Approval Form</span>
      <span class="gray-text">#{{ data.preApprovalForm.id }}</span>
    </div>
    <button mat-icon-button matDialogClose>
      <mat-icon>cancel</mat-icon>
    </button>
  </div>

  <div
    style="display: flex; justify-content: space-between; align-items: center"
    class="mb-2">
    <div>
      <div class="mb-2">
        <span><b>Submission Date</b></span>
        <span class="ml-2">{{
          formatTheDate(data.preApprovalForm.submissionTime)
        }}</span>
      </div>
      <span class="subtitle mr-3">Form Status:</span>
      <span
        class="status-text"
        *ngIf="formStatus === 'Waiting'"
        style="background-color: '#FF965D'"
        >Waiting
      </span>
      <span
        class="status-text"
        *ngIf="formStatus === 'Accepted'"
        style="background-color: '#49C96D'"
        >Accepted
      </span>
      <span
        class="status-text"
        *ngIf="formStatus === 'Rejected'"
        style="background-color: '#FD7972'"
        >Rejected
      </span>
      <span
        class="status-text"
        *ngIf="formStatus === 'Cancelled'"
        style="background-color: #621324; color: white"
        >Cancelled
      </span>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center">
      <div>
        <span><b>Official Document</b></span>
      </div>
      <!-- <div
        *ngIf="
          data.preApprovalForm.fileName !== null &&
          data.preApprovalForm.fileName !== ''
        ">
        <span>File name: {{ data.preApprovalForm.fileName }}</span>
      </div> -->
      <div>
        <button
          mat-raised-button
          color="primary"
          class="mr-3"
          (click)="downloadPdf()"
          [disabled]="!isDownloadable">
          Generate Pdf
        </button>
        <!-- <input
          type="file"
          class="file-input"
          accept=".pdf"
          (change)="onFileSelected($event)"
          #fileUpload
          hidden />
        <button
          mat-raised-button
          color="accent"
          class="mr-3"
          *ngIf="formStatus === 'Waiting'"
          (click)="fileUpload.click()">
          Upload Pdf
        </button> -->
        <!-- <button
          mat-raised-button
          color="warn"
          *ngIf="formStatus === 'Waiting'"
          (click)="deletePdf()"
          [disabled]="!isDownloadable">
          Delete Pdf
        </button> -->
      </div>
    </div>
  </div>
  <mat-tab-group>
    <mat-tab label="Form Information">
      <div class="form-info">
        <div class="student-info-container mt-3">
          <span class="subtitle">Student Details</span>
          <div class="student-info mt-3">
            <span>Name</span>
            <span>{{
              data.student.firstName + " " + data.student.lastName
            }}</span>
          </div>
          <mat-divider style="width: 100%"></mat-divider>
          <div class="student-info mt-2">
            <span>Student ID</span>
            <span>{{ data.student.identityUser.userName }}</span>
          </div>
          <mat-divider style="width: 100%"></mat-divider>
          <div class="student-info mt-2">
            <span>Department</span>
            <span>{{ data.student.major.departmentName }}</span>
          </div>
          <mat-divider style="width: 100%"></mat-divider>
          <div class="student-info mt-2">
            <span>Email</span>
            <span>{{ data.student.identityUser.email }}</span>
          </div>
          <mat-divider style="width: 100%"></mat-divider>
          <div class="student-info mt-2">
            <span>CGPA</span>
            <span>{{ data.student.cgpa }}</span>
          </div>
          <mat-divider style="width: 100%"></mat-divider>
          <div class="student-info mt-2">
            <span>Exchange School</span>
            <span>{{ data.student.exchangeSchool }}</span>
          </div>
          <mat-divider style="width: 100%"></mat-divider>
          <div class="student-info mt-2">
            <span>Preferred Term</span>
            <span>{{
              data.student.preferredSemester.academicYear +
                " " +
                data.student.preferredSemester.semester
            }}</span>
          </div>
          <mat-divider style="width: 100%"></mat-divider>
          <div class="student-info mt-2">
            <span>Enterance Year</span>
            <span>{{ data.student.entranceYear }}</span>
          </div>
          <mat-divider style="width: 100%"></mat-divider>
        </div>
        <div class="approval-info-container">
          <span class="subtitle mt-3 mb-3">Approvals</span>
          <div class="approve-info-content">
            <div
              class="approve-info-element"
              *ngIf="
                coordinatorStatus !== 'Waiting' &&
                data.preApprovalForm.exchangeCoordinatorApproval !== null
              ">
              <span
                ><b class="mr-2">Name:</b
                >{{
                  data.preApprovalForm.exchangeCoordinatorApproval.name
                }}</span
              >
              <span><b class="mr-2">Role:</b>Exchange Coordinator</span>
              <span>
                <b class="mr-2">Approval Date:</b>
                {{
                  formatTheDate(
                    data.preApprovalForm.exchangeCoordinatorApproval
                      .dateOfApproval
                  )
                }}
              </span>
              <div class="status-text-container">
                <span
                  class="status-text"
                  *ngIf="coordinatorStatus === 'Accepted'"
                  style="background-color: '#49C96D'"
                  >Accepted</span
                >
                <span
                  class="status-text"
                  *ngIf="coordinatorStatus === 'Rejected'"
                  style="background-color: '#FD7972'"
                  >Rejected</span
                >
              </div>
            </div>
            <div
              class="approve-info-element"
              *ngIf="coordinatorStatus === 'Waiting'">
              <span><b class="mr-2">Role:</b>Exchange Coordinator</span>
              <div class="status-text-container">
                <span
                  class="status-text"
                  *ngIf="formStatus === 'Waiting'"
                  style="background-color: '#FF965D'"
                  >Waiting</span
                >
                <span
                  class="status-text"
                  *ngIf="formStatus !== 'Waiting'"
                  style="background-color: '#828491FF'; color: white"
                  >Incomplete</span
                >
              </div>
            </div>
            <mat-divider
              vertical
              style="height: 150px"
              class="mr-4 ml-4"></mat-divider>
            <div
              class="approve-info-element"
              *ngIf="
                boardStatus !== 'Waiting' &&
                data.preApprovalForm.facultyAdministrationBoardApproval !== null
              ">
              <span
                ><b class="mr-2">Name:</b
                >{{
                  data.preApprovalForm.facultyAdministrationBoardApproval.name
                }}</span
              >
              <span><b class="mr-2">Role:</b>Administration Board</span>
              <span>
                <b class="mr-2">Approval Time:</b>
                {{
                  formatTheDate(
                    data.preApprovalForm.facultyAdministrationBoardApproval
                      .dateOfApproval
                  )
                }}
              </span>
              <div class="status-text-container">
                <span
                  class="status-text"
                  *ngIf="boardStatus === 'Accepted'"
                  style="background-color: '#49C96D'"
                  >Accepted</span
                >
                <span
                  class="status-text"
                  *ngIf="boardStatus === 'Rejected'"
                  style="background-color: '#FD7972'"
                  >Rejected</span
                >
              </div>
            </div>
            <div class="approve-info-element" *ngIf="boardStatus === 'Waiting'">
              <span><b class="mr-2">Role:</b>Administration Board</span>
              <div class="status-text-container">
                <span
                  class="status-text"
                  *ngIf="formStatus === 'Waiting'"
                  style="background-color: '#FF965D'"
                  >Waiting</span
                >
                <span
                  class="status-text"
                  *ngIf="formStatus !== 'Waiting'"
                  style="background-color: '#828491FF'; color: white"
                  >Incomplete</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Form Content">
      <div class="form-content-container">
        <div
          class="course-groups"
          *ngFor="
            let courseGroup of data.preApprovalForm.requestedCourseGroups;
            let groupIndex = index
          ">
          <div class="course-group mb-4">
            <div class="course-group-header">
              <span>Course Group {{ groupIndex + 1 }}</span>
            </div>
            <mat-divider style="width: 100%" class="mt-2 mb-2"></mat-divider>
            <div class="host-courses-container">
              <div>
                <span class="course-group-subtitle"
                  >Host Institution Courses</span
                >
              </div>
              <div
                class="host-courses"
                *ngFor="
                  let requestedCourse of courseGroup.requestedCourses;
                  let courseIndex = index
                ">
                <div class="group-course mt-2">
                  <mat-form-field style="width: 150px" appearance="outline">
                    <mat-label>Course Code</mat-label>
                    <input
                      type="search"
                      matInput
                      readonly
                      [(ngModel)]="requestedCourse.courseCode" />
                  </mat-form-field>
                  <mat-form-field
                    style="flex-grow: 1"
                    class="mr-3 ml-3"
                    appearance="outline">
                    <mat-label>Course Name</mat-label>
                    <input
                      type="search"
                      readonly
                      matInput
                      [(ngModel)]="requestedCourse.courseName" />
                  </mat-form-field>
                  <mat-form-field style="width: 100px" appearance="outline">
                    <mat-label>ECTS</mat-label>
                    <input
                      type="number"
                      step="0.5"
                      min="0"
                      readonly
                      matInput
                      [(ngModel)]="requestedCourse.ects" />
                  </mat-form-field>
                  <div style="width: 115px"></div>
                </div>
              </div>
            </div>
            <div class="bilkent-course-container">
              <span class="course-group-subtitle">Bilkent Requirement</span>
              <div class="bilkent-requirement">
                <div class="course-info">
                  <mat-form-field style="width: 400px" appearance="outline">
                    <mat-label>Course Type</mat-label>
                    <input
                      type="search"
                      matInput
                      [(ngModel)]="
                        courseGroup.requestedExemptedCourse.courseType
                      "
                      readonly />
                  </mat-form-field>
                </div>
                <div class="course-info">
                  <mat-form-field
                    style="width: 150px"
                    appearance="outline"
                    *ngIf="
                      courseGroup.requestedExemptedCourse.courseName !== '' &&
                      courseGroup.requestedExemptedCourse.courseName !== null
                    ">
                    <mat-label>Course Code</mat-label>
                    <input
                      type="search"
                      matInput
                      readonly
                      [(ngModel)]="
                        courseGroup.requestedExemptedCourse.courseCode
                      " />
                  </mat-form-field>
                  <mat-form-field
                    style="flex-grow: 1"
                    class="mr-3 ml-3"
                    appearance="outline"
                    *ngIf="
                      courseGroup.requestedExemptedCourse.courseName !== '' &&
                      courseGroup.requestedExemptedCourse.courseName !== null
                    ">
                    <mat-label>Course Name</mat-label>
                    <input
                      type="search"
                      readonly
                      matInput
                      [(ngModel)]="
                        courseGroup.requestedExemptedCourse.courseName
                      " />
                  </mat-form-field>
                  <mat-form-field
                    style="width: 100px; margin-right: 15px"
                    appearance="outline">
                    <mat-label style="white-space: normal"
                      >Bilkent Credits</mat-label
                    >
                    <input
                      type="number"
                      readonly
                      matInput
                      [(ngModel)]="
                        courseGroup.requestedExemptedCourse.bilkentCredits
                      " />
                  </mat-form-field>
                  <mat-form-field style="width: 100px" appearance="outline">
                    <mat-label>ECTS</mat-label>
                    <input
                      type="number"
                      step="0.5"
                      min="0"
                      readonly
                      matInput
                      [(ngModel)]="
                        courseGroup.requestedExemptedCourse.bilkentCredits
                      " />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab
      label="Decision"
      *ngIf="roleOfUser !== 'Student' || formStatus !== 'Waiting'">
      <div
        class="decision-container"
        *ngIf="coordinatorStatus === 'Waiting' && formStatus === 'Waiting'">
        <span class="subtitle">Your Decision</span>
        <mat-form-field appearance="outline" style="width: 500px">
          <mat-label>Your Comments & Extra Notes</mat-label>
          <textarea
            class="custom-scroll-bar"
            type="search"
            rows="10"
            matInput
            [(ngModel)]="userComment"></textarea>
        </mat-form-field>

        <div class="decision-buttons mb-5">
          <button
            mat-raised-button
            style="margin-right: 50px; width: 125px"
            color="warn"
            (click)="rejectForm()">
            Reject
          </button>
          <button
            mat-raised-button
            style="width: 125px"
            color="primary"
            (click)="approveForm()">
            Accept
          </button>
        </div>
      </div>
      <div
        class="decision-container"
        *ngIf="boardStatus === 'Waiting' && coordinatorStatus === 'Accepted'">
        <span class="subtitle">F.A.B. Decision</span>
        <mat-form-field appearance="outline" style="width: 500px">
          <mat-label>Your Comments & Extra Notes</mat-label>
          <textarea
            class="custom-scroll-bar"
            type="search"
            rows="10"
            matInput
            [(ngModel)]="userComment"></textarea>
        </mat-form-field>
        <div class="decision-buttons mb-5">
          <button
            mat-raised-button
            style="margin-right: 50px; width: 125px"
            color="warn"
            (click)="rejectFormFAB()">
            Reject
          </button>
          <button
            mat-raised-button
            style="width: 125px"
            color="primary"
            (click)="approveFormFAB()">
            Accept
          </button>
        </div>
      </div>

      <div
        class="decision-container"
        *ngIf="
          coordinatorStatus !== 'Waiting' &&
          data.preApprovalForm.exchangeCoordinatorApproval != null &&
          data.preApprovalForm.exchangeCoordinatorApproval.comment != '' &&
          data.preApprovalForm.exchangeCoordinatorApproval.comment != null
        ">
        <span class="subtitle">Coordinator Decision</span>
        <div class="decision-buttons mb-2">
          <span
            class="status-text"
            *ngIf="coordinatorStatus === 'Accepted'"
            style="background-color: '#49C96D'"
            >Accepted</span
          >
          <span
            class="status-text"
            *ngIf="coordinatorStatus === 'Rejected'"
            style="background-color: '#FD7972'"
            >Rejected</span
          >
        </div>
        <mat-form-field appearance="outline" style="width: 500px">
          <mat-label
            >{{ data.preApprovalForm.exchangeCoordinatorApproval.name }}'s
            Comments & Extra Notes</mat-label
          >
          <textarea
            class="custom-scroll-bar"
            type="search"
            rows="10"
            matInput
            readonly
            [(ngModel)]="
              data.preApprovalForm.exchangeCoordinatorApproval.comment
            "></textarea>
        </mat-form-field>
      </div>
      <div
        class="decision-container"
        *ngIf="
          boardStatus !== 'Waiting' &&
          data.preApprovalForm.facultyAdministrationBoardApproval != null &&
          data.preApprovalForm.facultyAdministrationBoardApproval.comment !=
            '' &&
          data.preApprovalForm.facultyAdministrationBoardApproval.comment !=
            null
        ">
        <span class="subtitle">FAB Decision</span>
        <div class="decision-buttons mb-2">
          <span
            class="status-text"
            *ngIf="boardStatus === 'Accepted'"
            style="background-color: '#49C96D'"
            >Accepted</span
          >
          <span
            class="status-text"
            *ngIf="boardStatus === 'Rejected'"
            style="background-color: '#FD7972'"
            >Rejected</span
          >
        </div>
        <mat-form-field appearance="outline" style="width: 500px">
          <mat-label
            >{{
              data.preApprovalForm.facultyAdministrationBoardApproval.name
            }}'s Comments & Extra Notes</mat-label
          >
          <textarea
            class="custom-scroll-bar"
            type="search"
            rows="10"
            matInput
            [(ngModel)]="
              data.preApprovalForm.facultyAdministrationBoardApproval.comment
            "
            readonly></textarea>
        </mat-form-field>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
