<div>
  <p *ngIf="!todos?.length && !isNewTodo"
     class="text-secondary text-center pt-5">No tasks yet.</p>

  <div *ngFor="let todo of todos"
       class="todo">



    <mat-checkbox  (change)="changeEvent($event, todo.id)" color="primary" [ngStyle]="{'text-decoration': todo.status ? 'line-through' : 'none'}">
              {{todo.description}}
    </mat-checkbox>
    <div class="actions">
      <button mat-icon-button><mat-icon>edit</mat-icon></button>
      <button mat-icon-button (click)="deleteTodo(todo.id)"><mat-icon>delete</mat-icon></button>
    </div>
  </div>


  <br/>
  <app-todo-form *ngIf="isNewTodo"
                 (newTask)="onNewTask($event)"
                 (closeForm)="isNewTodo = !isNewTodo"
                 style="width: 80vh"
  ></app-todo-form>

  <button class="add" mat-raised-button (click)="isNewTodo = !isNewTodo" color="primary"  *ngIf="!isNewTodo">
    <mat-icon>add</mat-icon><span>Add Todo</span>
  </button>
</div>
