/* You can add global styles to this file, and also import other style files */
*{
  font-family: "Poppins";
}
html, body { height: 100%; }
body { margin: 0; font-family: Poppins, "Helvetica Neue", sans-serif; font-style: normal}
