<div class="form-container ">
  <div class="form-header">
    <h1 mat-dialog-title style="font-size: 1.6rem; font-weight: bold">Submit CTE Form</h1>
  </div>
  <div mat-dialog-content class="form-content custom-scroll-bar">
    <mat-form-field style="width: 150px" appearance="outline">
      <mat-label>Student Id</mat-label>
      <input type="search"
      matInput [(ngModel)]="data.idNumber"
      [formControl] = "studentid" required
      >
    </mat-form-field>
    <div class="course-groups" *ngFor="let courseGroup of this.data.transferredCourseGroup; let groupIndex = index">
      <div class="course-group mb-4">
        <div class="course-group-header">
          <span>Group {{groupIndex + 1}}</span>
          <button mat-raised-button color="warn" class="ml-4" (click)="onGroupDelete(groupIndex)">Delete</button>
        </div>
        <mat-divider style="width: 100%" class="mt-2 mb-2"></mat-divider>
        <div class="host-courses-container">
          <div>
            <span class="course-group-subtitle">Host Institution Courses</span>
            <button mat-raised-button color="primary" class="ml-3" (click)="onAddCourse(courseGroup)">Add Course</button>
          </div>
          <div class="host-courses" *ngFor="let transferredCourse of courseGroup.transferredCourses; let courseIndex = index">
            <div class="group-course mt-2">
              <mat-form-field style="width: 150px" appearance="outline">
                <mat-label>Course Code</mat-label>
                <input type="search"
                matInput [(ngModel)]="transferredCourse.courseCode"
                [formControl] = "courseCode" required>
              </mat-form-field>
              <mat-form-field style="flex-grow: 1" class="mr-3 ml-3" appearance="outline">
                <mat-label>Course Name</mat-label>
                <input type="search"
                [formControl] = "courseName" required
                matInput [(ngModel)]="transferredCourse.courseName">
              </mat-form-field >
              <mat-form-field style="width:100px" class="mr-3" appearance="outline">
                <mat-label>ECTS</mat-label>
                <input type="search" matInput
                type="number"
                step="0.5" min="0"
                [formControl] = "courseCredit" required
                [(ngModel)]="transferredCourse.ects"
                >
              </mat-form-field>

              <mat-form-field style="width:100px" appearance="outline">
                <mat-label>Grade</mat-label>
                <input type="search" matInput
                [formControl] = "grade" required
                [(ngModel)]="transferredCourse.grade">
              </mat-form-field>
              <div class="delete-course-btn">
                <button mat-icon-button *ngIf="courseGroup.transferredCourses.length > 1" (click)="onCourseDelete(groupIndex, courseIndex)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>

          <mat-error style="width:200px" class="mr-3" *ngIf=" (courseCredit.invalid || courseCode.invalid
            || courseName.invalid ||  grade.invalid || studentid.invalid ) && submitted">
            {{getErrorMessageEmpty()}}
        </mat-error>

        </div>
        <div class="bilkent-course-container">
          <span class="course-group-subtitle">Bilkent Requirement</span>
          <div class="bilkent-requirement">
            <div class="course-info">
              <span class="mr-3">Course Type:</span>
              <mat-form-field
                style="flex-grow: 1; text-align: center"
                class="ml-2">
                <mat-select
                  [formControl] = "courseType" required
                  [(ngModel)]="courseGroup.exemptedCourse.courseType">
                  <mat-option *ngFor="let dep of courseTypes" [value]="dep">
                    {{ dep }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="group-course mt-2">
              <mat-form-field style="width: 150px" appearance="outline">
                <mat-label>Course Code</mat-label>
                <input type="search"
                       matInput
                       [formControl] = "courseCodeBilkent" required
                       [(ngModel)]="courseGroup.exemptedCourse.courseCode">
              </mat-form-field>
              <mat-form-field style="flex-grow: 1" class="mr-3 ml-3" appearance="outline">
                <mat-label>Course Name</mat-label>
                <input type="search"
                       [formControl] = "courseNameBilkent" required
                       matInput
                       [(ngModel)]="courseGroup.exemptedCourse.courseName">
              </mat-form-field >
              <mat-form-field style="width:100px" class="mr-3" appearance="outline">
                <mat-label style="white-space: normal">Bilkent Credits</mat-label>
                <input type="search" matInput
                       type="number"
                       step="1" min="0"
                       [formControl] = "courseCreditBilkent" required
                       [(ngModel)]="courseGroup.exemptedCourse.bilkentCredits">
              </mat-form-field>

              <mat-form-field style="width:100px" appearance="outline">
                <mat-label>ECTS</mat-label>
                <input type="search" matInput
                       [formControl] = "courseCreditBilkentECTS" required
                       [(ngModel)]="courseGroup.exemptedCourse.ects">
              </mat-form-field>
              <div class="delete-course-btn">
              </div>
            </div>
          </div>
        </div>

        <mat-error style="width:200px" class="mr-3" *ngIf=" (courseCreditBilkentECTS.invalid ||
        courseCreditBilkent.invalid ||courseCodeBilkent.invalid
            || courseNameBilkent.invalid || courseType.invalid ) && submitted">
            {{getErrorMessageEmptyBilkent()}}
        </mat-error>
      </div>

    </div>
    <button mat-raised-button color="primary" style="width: 100px" (click)="onAddGroup()">Add Group</button>
  </div>
  <div class="form-footer mt-4">
    <button mat-raised-button color="primary" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" class="ml-5" (click)="onSubmit()">Submit</button>

  </div>
</div>
