<div class="request-container">
  <div class="request-header">
    <h1 mat-dialog-title style="font-size: 1.6rem; font-weight: bold">Submit Equivalance Request</h1>
  </div>
  <div class="request-content">
    <div class="course-container mb-4">
      <span class="request-subtitle">Host Institution Course</span>
      <div class="course-info">
        <mat-form-field style="width: 150px" appearance="outline">
          <mat-label>Course Code</mat-label>
          <input type="search" matInput>
        </mat-form-field>
        <mat-form-field style="flex-grow: 1" class="mr-5 ml-5" appearance="outline">
          <mat-label>Course Name</mat-label>
          <input type="search" matInput [(ngModel)]="data.hostCourseName">
        </mat-form-field >
      </div>
      <input
        type="file"
        class="file-input"
        [accept]="requiredFileType"
        (change)="onFileSelected($event)"
        #fileUpload
        hidden />

      <!--TODO: reconsider button disable logic. course code?-->
      <div class="file-upload">
        <button [disabled]="data.hostCourseName === ''" class="mr-2" mat-raised-button (click)="fileUpload.click()">
          <span>Upload Syllabus</span
          ><mat-icon class="ml-2">attach_file</mat-icon>
        </button>
        <span>{{ data.hostCourseName === '' ? "Enter the course name first to upload syllabus." : fileName || "No file uploaded." }}</span>
      </div>
    </div>
    <div class="course-container mb-4">
      <span class="request-subtitle">Bilkent University Course</span>
      <div class="course-info">
        <mat-form-field style="width: 150px" appearance="outline">
          <mat-label>Course Code</mat-label>
          <input type="search" matInput [(ngModel)]="data.exemptedCourse.courseCode">
        </mat-form-field>
        <mat-form-field style="flex-grow: 1" class="mr-5 ml-5" appearance="outline">
          <mat-label>Course Name</mat-label>
          <input type="search" matInput [(ngModel)]="data.exemptedCourse.courseName">
        </mat-form-field >
      </div>
    </div>
    <div class="notes-container">
      <span class="request-subtitle">Additional Notes</span>
      <mat-form-field appearance="outline">
        <textarea class="custom-scroll-bar" type="search" rows="6" [(ngModel)]="data.additionalNotes" matInput placeholder="Write your Announcement here..."></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="request-footer">
    <button mat-raised-button color="primary" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" class="ml-5" (click)="onSubmit()">Submit</button>
  </div>
</div>
