

<div class="dashboard-container m-3">
  <div>
    <span class="dashboard-title">Dashboard</span>
  </div>
  <div class="dashboard-content mt-3">
    <div class="charts-container">
      <div class="chart-content">
        <span>Forms and Requests</span>
        <apx-chart
            [series]="pieChartOptions.series"
            [chart]="pieChartOptions.chart"
            [labels]="pieChartOptions.labels"
            [responsive]="pieChartOptions.responsive"
        ></apx-chart>
      </div>
      <div class="chart-content mt-2">
        <span>Submitted Forms and Requests</span>
        <apx-chart
          [series]="barChartOptions.series"
          [chart]="barChartOptions.chart"
          [dataLabels]="barChartOptions.dataLabels"
          [plotOptions]="barChartOptions.plotOptions"
          [yaxis]="barChartOptions.yaxis"
          [xaxis]="barChartOptions.xaxis"
          [legend]="barChartOptions.legend"
          [colors]="barChartOptions.colors"
          [grid]="barChartOptions.grid"
        ></apx-chart>
      </div>
    </div>

    <div class="todo-container ml-5 mr-5">
      <span class="todo-title">TODO List</span>
      <mat-tab-group dynamicHeight="false"    #matTabGroup (selectedIndexChange)="OnTabChange($event)" >
        <mat-tab label="Waiting Tasks" >
          <div class="todo-inner-container" >
            <div class="todo-content">
              <div class="custom-scroll-bar">
                <div class="todo-item">
                  <div class="checkbox-container m-1">
                    <mat-checkbox></mat-checkbox>
                    <mat-form-field *ngIf="editing" class="ml-2" style="padding: 0; margin: 0">
                      <input type="search" [(ngModel)]="value" matInput>
                    </mat-form-field>
                    <span *ngIf="!editing" class="ml-2">{{value}}</span>
                  </div>
                  <button mat-icon-button (click)="toggleEditing()">
                    <mat-icon svgIcon="edit"></mat-icon>
                  </button>
                </div>
                <mat-divider style="width: 100%"></mat-divider>
                <div class="checkbox-container m-1">
                  <mat-checkbox></mat-checkbox>
                  <span class="ml-2">Check MeKJASDFLJKALFJKAANLFKLANDJNASKJDFHASDLFJLKBJLFAJBJLlksafmalksdfnklaasldkfndsalfk</span>
                </div>
                <mat-divider style="width: 100%"></mat-divider>
                <div class="checkbox-container m-1">
                  <mat-checkbox></mat-checkbox>
                  <span class="ml-2">Check Me</span>
                </div>
                <mat-divider style="width: 100%"></mat-divider>
                <div class="checkbox-container">
                  <mat-checkbox></mat-checkbox>
                  <span class="ml-2">Check Me</span>
                </div>
                <mat-divider style="width: 100%"></mat-divider>
                <div class="checkbox-container">
                  <mat-checkbox></mat-checkbox>
                  <span class="ml-2">Check Me</span>
                </div>
                <mat-divider style="width: 100%"></mat-divider>
                <div class="checkbox-container">
                  <mat-checkbox></mat-checkbox>
                  <span class="ml-2">Check Me</span>
                </div>
                <mat-divider style="width: 100%"></mat-divider>
                <div class="checkbox-container">
                  <mat-checkbox></mat-checkbox>
                  <span class="ml-2">Check Me</span>
                </div>
                <mat-divider style="width: 100%"></mat-divider>
                <div class="checkbox-container">
                  <mat-checkbox></mat-checkbox>
                  <span class="ml-2">Check Me</span>
                </div>
                <mat-divider style="width: 100%"></mat-divider>
                <div class="checkbox-container">
                  <mat-checkbox></mat-checkbox>
                  <span class="ml-2">Check Me</span>
                </div>
                <mat-divider style="width: 100%"></mat-divider>
                <div class="checkbox-container">
                  <mat-checkbox></mat-checkbox>
                  <span class="ml-2">Check Me</span>
                </div>
                <mat-divider style="width: 100%"></mat-divider>
                <div class="checkbox-container">
                  <mat-checkbox></mat-checkbox>
                  <span class="ml-2">Check Me</span>
                </div>
                <mat-divider style="width: 100%"></mat-divider>
              </div>


            </div>
            <div class="todo-add-container m-3">
              <mat-form-field *ngIf="add" class="m-3" style="padding: 0; margin: 0">
                <input type="search" placeholder="Ex. Meeting with X at 14.30" matInput>
              </mat-form-field>
              <button class="mr-2" *ngIf="!add" mat-raised-button color="primary" (click)="toggleAdd()">Add New</button>
              <button class="mr-2" *ngIf="add" mat-raised-button color="primary" (click)="toggleAdd()">Save</button>
              <button class="mr-2" *ngIf="add" mat-raised-button color="accent" (click)="toggleAdd()">Cancel</button>

            </div>
          </div>
        </mat-tab>
        <mat-tab label="Completed Tasks">
          <div class="todo-inner-container" >
            <div class="todo-content">
              <div class="custom-scroll-bar">
                <div class="todo-item">
                  <div class="checkbox-container m-1">
                    <mat-checkbox></mat-checkbox>
                    <mat-form-field *ngIf="editing" class="ml-2" style="padding: 0; margin: 0">
                      <input type="search" [(ngModel)]="value" matInput>
                    </mat-form-field>
                    <span *ngIf="!editing" class="ml-2">{{value}}</span>
                  </div>
                  <button mat-icon-button (click)="toggleEditing()">
                    <mat-icon svgIcon="edit"></mat-icon>
                  </button>
                </div>
                <mat-divider style="width: 100%"></mat-divider>
                <div class="checkbox-container m-1">
                  <mat-checkbox></mat-checkbox>
                  <span class="ml-2">Check MeKJASDFLJKALFJKAANLFKLANDJNASKJDFHASDLFJLKBJLFAJBJLlksafmalksdfnklaasldkfndsalfk</span>
                </div>
                <mat-divider style="width: 100%"></mat-divider>
                <div class="checkbox-container m-1">
                  <mat-checkbox></mat-checkbox>
                  <span class="ml-2">Check Me</span>
                </div>
                <mat-divider style="width: 100%"></mat-divider>
                <div class="checkbox-container">
                  <mat-checkbox></mat-checkbox>
                  <span class="ml-2">Check Me</span>
                </div>
                <mat-divider style="width: 100%"></mat-divider>
                <div class="checkbox-container">
                  <mat-checkbox></mat-checkbox>
                  <span class="ml-2">Check Me</span>
                </div>
                <mat-divider style="width: 100%"></mat-divider>
                <div class="checkbox-container">
                  <mat-checkbox></mat-checkbox>
                  <span class="ml-2">Check Me</span>
                </div>
                <mat-divider style="width: 100%"></mat-divider>
                <div class="checkbox-container">
                  <mat-checkbox></mat-checkbox>
                  <span class="ml-2">Check Me</span>
                </div>
                <mat-divider style="width: 100%"></mat-divider>
                <div class="checkbox-container">
                  <mat-checkbox></mat-checkbox>
                  <span class="ml-2">Check Me</span>
                </div>
                <mat-divider style="width: 100%"></mat-divider>
                <div class="checkbox-container">
                  <mat-checkbox></mat-checkbox>
                  <span class="ml-2">Check Me</span>
                </div>
                <mat-divider style="width: 100%"></mat-divider>
                <div class="checkbox-container">
                  <mat-checkbox></mat-checkbox>
                  <span class="ml-2">Check Me</span>
                </div>
                <mat-divider style="width: 100%"></mat-divider>
                <div class="checkbox-container">
                  <mat-checkbox></mat-checkbox>
                  <span class="ml-2">Check Me</span>
                </div>
                <mat-divider style="width: 100%"></mat-divider>
              </div>


            </div>
            <div class="todo-add-container m-3">
              <mat-form-field *ngIf="add" class="m-3" style="padding: 0; margin: 0">
                <input type="search" placeholder="Ex. Meeting with X at 14.30" matInput>
              </mat-form-field>
              <button class="mr-2" *ngIf="!add" mat-raised-button color="primary" (click)="toggleAdd()">Add New</button>
              <button class="mr-2" *ngIf="add" mat-raised-button color="primary" (click)="toggleAdd()">Save</button>
              <button class="mr-2" *ngIf="add" mat-raised-button color="accent" (click)="toggleAdd()">Cancel</button>

            </div>
          </div>

        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="other-container">

    </div>
  </div>

</div>


<!--
<div id="chart" style="width: 500px;height: 500px">
  <apx-chart
    [series]="pieChartOptions.series"
    [chart]="pieChartOptions.chart"
    [labels]="pieChartOptions.labels"
    [responsive]="pieChartOptions.responsive"
  ></apx-chart>
</div>
<div id="chart" style="width: 500px;height: 500px">
  <apx-chart
    [series]="barChartOptions.series"
    [chart]="barChartOptions.chart"
    [dataLabels]="barChartOptions.dataLabels"
    [plotOptions]="barChartOptions.plotOptions"
    [yaxis]="barChartOptions.yaxis"
    [xaxis]="barChartOptions.xaxis"
    [legend]="barChartOptions.legend"
    [colors]="barChartOptions.colors"
    [grid]="barChartOptions.grid"
  ></apx-chart>
</div>
-->




<!--
<div class="pie-chart-container">
  <app-piechart></app-piechart>
</div>




<div class="title">
  <span class="mat-h1"><strong>Dashboard</strong></span>
</div>
<div>
  <mat-grid-list cols="2" rowHeight="fit" style="height: 80vh; margin: 2% 5%">
    <mat-grid-tile class="grid-item">
      <mat-card class="mat-elevation-z4 m-2">
        <mat-card-title>Status of Forms&Requests</mat-card-title>
        <mat-card-content>
          <div>
            <app-piechart></app-piechart>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="grid-item" rowspan="2">
      <mat-card class="mat-elevation-z4 m-2" style="width: 100%">
        <mat-card-content style="width: 100%">
          <div style="width: 100%">
            <app-todo style="width: 80%;"></app-todo>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="grid-item" >
      <mat-card class="mat-elevation-z4 m-2">
        <mat-card-title>Number Of Submissions</mat-card-title>
        <mat-card-content>
          <app-columnchart></app-columnchart>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

-->
